.thumbnail img {
    width:100%;
}

.thumbnail{
    padding:0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}

#image{
    margin: 10px;
    width: 75%;
    height:450px;
}

/* . = class
# = id */